body {
  font-family: 'Raleway', sans-serif;
   text-align: center;
   margin-top: 200px;
}

div {
  margin: 0 auto;
  width: 95%;
  max-width: 750px;
}

button {
  border-radius: 50px;
  width: 100px;
  height: 100px;
  color:transparent;
  text-shadow:none ;
  border:none ;
  box-shadow:none;
  margin: 5px;
}

button:focus {
  border: .25em solid #CCFFFF; /* here configure as your needs */
  color:#CCFFFF;
  outline:0;
}

.red {
  color: #000;
  background: #fcbcbc;
  border-color: #fcbcbc;
}

.blue {
  color: #000;
  background: #bcdffc;
  border-color: #bcdffc;
}

.green {
  color: #000;
  background: #c7fcbc;
  border-color: #c7fcbc;
}

.white {
  color: #000;
  background: #FCFCFC;
  border-color: #FCFCFC;
} 

#shock {
  color: #000;
  background: #f8f89b;
  border-color: #f8f89b;
}

.rainbow {
  background-image:url(./nyan.gif);)
  background-repeat:no-repeat;
  background-size:cover;
}


